<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<script type="text/javascript" src="{{url_for('static', filename='jQuery/jquery-3.6.1.js')}}"></script>
    <title>Program</title>
</head>
<body>
<div><span>RELE1</span><button id="RELE1">ON</button></div>
<div><span>RELE2</span><button id="RELE2">ON</button></div>
<div><span>RELE3</span><button id="RELE3">ON</button></div>
<div>Температура: </div><span id="Temperature">00</span>
<div>Влажность: </div><span id="Humidity">00</span>
<div>Бак1: </div><span id="Water_1">00</span>
<div>Бак2: </div><span id="Water_2">00</span>
<script type="text/javascript" src="{{url_for('static', filename='js/general.js')}}"></script>
</body>
</html>
